@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: "Inter", sans-serif;
}



.contianer{
    /* max-width: 1600px; */
    max-width: 1400px;
    margin: 0 auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
}


.col-6{
    width: 50%;
    padding: 0 10px;
}

.col-4{
    width: 33.3%;
    padding: 0 10px;
}

.col-3{
    width: 25%;
    padding: 0 10px;
}


@media screen and (max-width: 1480px) {
    .contianer{
        max-width: 1140px;
    }
}



@media screen and (max-width: 1200px) {
    .contianer{
        max-width: 960px;
    }
}


@media screen and (max-width: 992px) {
    .contianer{
        max-width: 720px;
    }
}


@media screen and (max-width: 768px) {
    .contianer{
        max-width: 540px;
    }
}



@media screen and (max-width: 576px) {
    .contianer{
        max-width: 100%;
        padding: 0 10px;
    }
}
